[user]
	name = fakestarbaby
	email = fakestarbaby@gmail.com
[color]
  ui = auto
[alias]
  a = add
  b = branch
  c = checkout
  d = diff
  g = grep -n
  l = log
  ls = log --oneline
  r = reset
  s = status
  f = fetch --prune
  p = pull-request -o
  o = !hub browse
  pb= !hub browse -- pull/$(git symbolic-ref --short HEAD)
  staging = !~/Developer/bin/git-staging.sh
  production = !~/Developer/bin/git-production.sh
[push]
  default = simple
[core]
	editor = vim -c \"set fenc=utf-8\"
	excludesfile = /Users/fakestarbaby/.gitignore_global
[rebase]
  autostash = true
[commit]
	template = ~/.gitmessage
[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
[diff]
  compactionHeuristic = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge --skip -- %f
	process = git-lfs filter-process --skip
	required = true
