[user]
  name = fakestarbaby
  email = fakestarbaby@gmail.com
[color]
  ui = auto
[alias]
  b = branch
  r = reset
  c = checkout
  d = diff
  g = grep -n
  l = log
  s = status
[push]
  default = simple
[core]
  editor = subl -w
